/* ================================= 
  Base Styles
==================================== */
*, *:before, *:after {
    box-sizing: border-box;
 }
body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6em;
    width: 100%;
    background-color: #F4F4F4;
    color: #828282;
 }
a {
    text-decoration: none;
}
.main-header {
    padding: 1em;
}
.wrapper {
    text-align: center;
}
h1 {
    margin: 1em;
    text-align: center;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.5em;
    margin-bottom: .25em;
}

section p, h2, h3 {
    text-align: center;
    padding: 0em 1em;
}

/* ================================= 
  Navigation Styles
==================================== */

.main-nav {
    margin-top: 5px;
}
.main-nav a {
    text-align: center;
    text-transform: uppercase;
    color: #404749;
}
.main-nav li {
    text-decoration: none;
    list-style: none; 
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
    display: block;
}

/* ================================= 
  Portfolio Styles
==================================== */

#portfolio {
    background-color: white;
    padding: 1em;
}

img {
   max-width: 100%;
}

/* ================================= 
 Footer Styles
==================================== */
footer {
    border-top: 0.5px solid #828282;
    display: block;
    padding: 1.5em 0em;
}
.student-name {
    float: left;
}
.back-top {
    float: right;
}
